
<div class="main-bienv d-flex justify-content-center">
    <div class="info-main d-flex flex-column justify-content-center align-items-center">
        <h1 class="tit-main mb-5">Bienvenido/a</h1>
        <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe consectetur itaque, consequatur possimus excepturi doloremque! Tenetur, quibusdam necessitatibus! Iusto culpa ratione vero labore earum officiis asperiores illo cum! Repellendus, officia?</p>
        <div class="d-flex  w-50">
            <button class="btn btn-custom btn-outline-danger mx-4" routerLink="../register">Registrarse</button>
            <button class="btn btn-custom btn-secondary mx-4" routerLink="../login">Iniciar Sesion</button>
        </div>
    </div>
</div>