.main-bienv {
    height: 100vh;
}

.info-main {   
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px;
    border-radius: 10px;
    height: 50%;
}

.tit-main {
    font-size: 70px;
    color: aliceblue;
}

.sub-tit {
    font-size: 20px;
    color: aliceblue;
    padding: 10px;
}

.btn-custom {
    height: 90px;
    width: 400px;
    font-size: 25px;
}
