<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 reg-container card-top">
            <div class="card shadow mt-5">
                <div class="card-header">
                    <h1 class="text-center mt-3">Registro </h1>
                </div>
                <div class="card-body card-custom d-flex flex-column justify-content-center align-items-center">
                    <h2>Usuario registrado con exito!</h2>
                    <button class="btn btn-outline-primary btn-sel mt-4" routerLink="../usuarios">Volver a usuarios</button>
                </div>
            </div>
        </div>
    </div>
</div>
