

.nav-link {
    color: aliceblue;
}

.ruta-activa {
    font-weight: 900;
    color: #cd1c2a;
}

.custom-nav {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7); 
    transition: all;
    padding: 0px 10px;
    z-index: 2;
    position: fixed;
    width: 100%;
}

.nav-opt {
    background-color: rgba(0, 0, 0, 0); 
    cursor: pointer;
    z-index: 2;
    font-size: 17px;
    font-weight: 500;
}

.nav-opt li a {
    color: aliceblue;
}

.icono {
    width: 42px;
}

.tit-icono {
    color: #cd1c2a;
    font-weight: 600;
}


.tit-icono-2 {
    color: #154688;
}

.logout-text {
    color: black;
}