.error-msg {
    position: absolute;
    font-size: 15px;
    margin: 0;
}

.errorMsg {
    color: red;
    font-size: 15px;
    margin: 0;

}

.card-header {
    background-color: #E4E4E4;
    border: none;
}

.card-top {
    margin-top: 80px;
}

.btn-sel {
    width: 240px;
    transition: opacity 0.2s ease;
}

.btn-sel:hover {
    opacity: 0.3;
}

.img-btn-sel {
    width: 200px;
}